<div class="page-header">
  <%= link_to admin_players_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to [:admin, @player], :class => 'btn btn-primary' do %>
    <i class="icon-info-sign icon-white"></i>
    Show
  <% end %>
  <h1><%= @player.full_name %>: edit</h1>
</div>

<%= render 'form' %>
