<div class="page-header">
  <%= link_to admin_players_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_admin_player_path(@admin_player), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
  <% end %>
  <h1>Listing admin_players</h1>
</div>

<dl>
</dl>
