<div class="page-header">
  <%= link_to admin_league_path(@conference.league), :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1>Add a Division</h1>
</div>

<%= render 'form' %>
