// Place all the styles related to the picks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.candidates {
  margin: 0;
}
.candidates .player {
  list-style: none;
  margin: 0 10px 10px 0;
  float: left;
  width: 162px;
  height: 40px;
  background: #ddd;
  padding: 0 8px;
  border-radius: 5px;
}
.candidates .player:hover {
  background: #d4d4d4;
  cursor: pointer;
}
.candidates .player.selected {
  background: #51A351;
  color: white;
}

.candidates .player.nytint-hidden {
  display: none;
}

.round-meta {
}

.buckets {
  clear: both;
  margin: 0 auto;
  width: 571px;
}
.buckets .bucket {
  list-style: none;
  margin: 0 0px 10px 10px;
  float: left;
  width: 120px;
  height: 120px;
  background: #ccc;
  border-radius: 90px;
  padding: 30px;
}
.buckets .bucket:hover {
  background: #d4d4d4;
  cursor: pointer;
}
.buckets .bucket.selected,
.buckets .bucket.selected:hover {
  background: #51A351;
}

.bucket-picks {
  margin: 0;
}
.bucket-picks li {
  list-style: none;
  font-weight: bold;
}
